/* GLOBAL SECTION */
*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    width: 1440px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Rubik;
}
main{
    margin-bottom: 20px;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
}

/* HEADER SECTION  */
.header{
    background-color:#F6F6F6;
}
.header-container{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header-logo-div{
    display: flex;
}
.site-logo{
    width: 276px;
    height: 45px;
    border-radius: 7px;
    margin-left: 0;
    margin-right: 35px;
}
.header-paragraph-1{
    margin-right: 25px;
    width: 69px;
}
.header-paragraph-2{
    margin-right: 0;
    width: 64px;
}
.strong{
    color: #7296EC;
}
.header-login-div{
    display: flex;
}
.header-search-div{
    width: 275px;
    height: 45px;
    margin-right: 25px;
    display: flex;
    align-items:center;
    background-color:#FFFFFF;
    border-radius: 60px;
}
.search-img{
    padding-left: 10px;
    padding-right: 6px;
}
.search-poisk{
    color: #8D8D8D;
}
.site-button{
    width: 89px;
    height: 45px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    margin-left: 25px;
    margin-right: 0;
    background-color: #7296EC;
}

/* Navigation Section */
.nav-section{
    margin-top:30px;
}
.navigation-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
.nav-link{
    text-decoration: none;
    color: #7F7F7F;
}
.nav-roll{
    width: 1200px;
    margin-top: 20px;
    color: #D1D1D1;
}
.nav-img{
    width: 1200px;
    margin-top: 40px;
}

/* News Section */
.news-container{
    width: 1320px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.news-container-div{
    display: flex;
}
.news-section-item{
    width: 394px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color:#F6F6F6;
    border-radius:15px;
}
.news-section-img{
    display: block;
}
.news-icon-div {
    display: flex;
}
.news-group-div {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:url(/images/Group.jpg);
}
.news-group-title {
    width: 404px;
    height: 52px;
    margin-left: 30px;
}
.news-group-button {
    width: 149px;
    height: 50px;
    margin-right: 30px;
    padding: 13px 30px 13px 30px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background-color:#F78B3B;
}

/* World Section  */
/*world section marginini va width hossasini togirlash kerak Todo Tree*/
.world{
    margin-top: 50px;
    margin-bottom: 100px;
}
.world-container{
    width: 1320px;
    display: flex;
}
.world-div-1{
    height: 898px;
}
.world-title{
    width: 1320px;
}
.world-list{
    width: 797px;
    height: 898px;
    padding-left: 0;
    list-style: none;
}
.world-list-item{
    padding: 20px;
    margin-bottom: 5px;
    display: flex;
    background-color:#F6F6F6;
    border-radius:15px;
}
.news-icon-text{
    margin-top: 0;
    margin-bottom: 0;
}
.world-list-item-button{
    width: 796px;
    height: 53px;
    padding: 17px 343px 17px 343px;
    background-color: #EAEAEA;
}
.world-list-button{
    border-radius: 10px;
    text-decoration: none;
    color:#000000;
}
.world-list-div{
    margin-left: 15px;
}
.world-list-item-title{
    margin-top: 0;
}
.world-div-2{
    margin-left: 10px;
}
.world-news{
    width: 393px;
    height: 502px;
    margin-top: 16px;
    background-color:#F6F6F6;
    border-radius:15px;
}
.world-news-title{
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left: 17px;
}
.world-news-list{
    width: 311px;
    height: 450px;
    padding-left: 0;
    list-style: none;
}
.world-news-list-item{
    width: 311px;
    height: 71px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 17px;
}
.item-title{
    margin-bottom: 10px;
}
.world-roll{
    width: 359px;
    margin: 0;
}
.world-news-img{
    width: 393px;
    height: 322px;
    margin-top: 10px;
    border-radius:15px;
}

/* Footer Section */
.footer{
    background-color:#7297EF;
    color: #FFFFFF;
}
.footer-section{
    display: flex;
    justify-content: space-around;
}
.footer-section-div{
    width: 265px;
}
.footer-section-div-title{
    width: 264px;
}
.footer-list{
    margin-top: 68px;
    list-style: none;
}
.footer-list-item{
    margin-bottom: 20px;
}
.footer-list-item-link{
    text-decoration: none;
    color:#FFFFFF;
}
.footer-roll {
    background-color: #CECECE;
}
.footer-section-bottom{
    margin-left: 85px;
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icon-link{
    margin-right: 20px;
    text-decoration: none;
}
.footer-socials:last-child{
    margin-right: 0;
}